#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=After First Restart Script
Exec=xterm -e 'source ~/.config/autostart/after_first_restart.sh'
