[Unit]
Description=OneDrive Service powered by rclone
After=multi-user.target
[Service]
Type=exec
ExecStart=/usr/bin/rclone --vfs-cache-mode writes mount "OneDrive": ${HOME}/OneDrive
[Install]
WantedBy=multi-user.target

