[Unit]
Description=OneDrive Service powered by rclone
After=xdg-desktop-autostart.target
[Service]
Type=exec
ExecStart=/usr/bin/rclone --vfs-cache-mode writes mount "OneDrive": ${HOME}/OneDrive

